{% extends "MrSiteBundle::layout.html.twig" %}

{% set body_class = "blog" %}

{% block sky %}
    <h1>Le blog</h1>
    <h2>
        Alors, quoi de neuf docteur ?
    </h2>
{% endblock %}


{% block main %}
    <div class="row">
        <ul class="no-bullet">
            {% for post in posts %}
                <img src="{{ path("ressource", { "id" : post.image.id }) }}">
                <h3>{{ post.title }}</h3>
                <section> {{ post.summary|raw }}</section>
                <a href="{{ path("blog_post", {"id" : post.id, "slug" : post.slug}) }}">Lire tout</a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}