@charset "UTF-8";

@import "vars";

body{
  position: relative;
  background: white;
}

.top-bar{
  .name h1 a {
    color: #444;
  }

  .top-bar-section.row{
    .columns{
      text-align: center;
      a{
        color: $topbar-link-color;
        font-size: $topbar-link-font-size;
      }
    }
  }
}

header.sky{
  position: relative;
  background: #9DEAFC;
  height: 500px;

  svg#Pousse{
    position: absolute;
    bottom: 0;
    left: 10%;
  }
}

nav.ground{
  height: 90px;
  background: #A67C52;
}