@charset "UTF-8";

@import "vars";

body{
  position: relative;
  background: white;
}

.top-bar{
  .name h1 a {
    color: #444;
  }

  .top-bar-section.row{
    .columns{
      text-align: center;
      a{
        color: $topbar-link-color;
        font-size: $topbar-link-font-size;
      }
    }
  }
}

#sky{
  position: relative;
  background: #9DEAFC;
  height: 500px;

  svg {
    position: absolute;
  }

  #Pousse {
    bottom: 0;
    left: 10%;
  }

  #Moon {
    top: 50px;
    left: 50%;
    margin-left: -85px;
  }

  #Moon, .star {
    display: none;
  }
}

nav.ground{
  height: 90px;
  background: #A67C52;
}