<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mr - Mathieu Rogelja</title>

    {% stylesheets
    'bundles/mrsite/css/normalize.css'
    'bundles/mrsite/css/foundation.css'
    'bundles/mrsite/css/fontello.css'
    'bundles/mrsite/css/mr.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <script src="{{ asset('bundles/mrsite/js/modernizr.js') }}"></script>
    <script>
        var d = new Date();

        // This is night !
        if (d.getHours() >= 20 || d.getHours() < 8) {
            var link = document.createElement('link');
            link.href = "{{ asset('bundles/mrsite/css/mr-night.css') }}";
            link.rel = "stylesheet";
            link.type = "text/css";
            document.getElementsByTagName('head')[0].appendChild(link);
        }
    </script>
</head>
<body>
<nav class="top-bar" data-topbar>
    <div class="row">
        <div class=" medium-4 columns">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Mr</a></h1>
                </li>
            </ul>
        </div>

        <div class="medium-4 columns">
            <div class="top-bar-section row">
                <div class="medium-4 columns">
                    <a href="#">Profil</a>
                </div>
                <div class="medium-4 columns">
                    <a href="#">Blog</a>
                </div>
                <div class="medium-4 columns">
                    <a href="#">Labo</a>
                </div>
            </div>
        </div>

        <div class="medium-4 columns">

        </div>
    </div>
</nav>

<header id="sky">
    {% set weather = get_weather("Paris,fr")|default({id: 800}) %}

    {% include  'MrSiteBundle:Svg:pousse.s1.svg.twig' %}

    {% if weather.id in 800..803 %}
        {% include  'MrSiteBundle:Svg:sun.svg.twig' %}
    {% endif %}

    {% include  'MrSiteBundle:Svg:moon.svg.twig' %}
    {% for i in range(0, random(30)) %}
        {% include  'MrSiteBundle:Svg:star.svg.twig' with {
        x: random(100),
        y : random(70),
        scale: random(60) / 100 ,
        rotate: random(90)} %}
    {% endfor %}

    {% if weather.id in 801..804 or weather.id < 800 %}
        {% include  'MrSiteBundle:Svg:white_cloud.svg.twig' %}
    {% endif %}

    {% if weather.id < 800 %}
        {% include  'MrSiteBundle:Svg:grey_cloud.svg.twig' %}
    {% endif %}
</header>


<nav class="ground">

</nav>

<section id="main">
    {% block main %}
        weather
    {% endblock %}
</section>

{% javascripts
"@MrSiteBundle/Resources/public/js/jquery.js"
"@MrSiteBundle/Resources/public/js/foundation.min.js"
"@MrSiteBundle/Resources/public/js/snap.svg-min.js"
"@MrSiteBundle/Resources/public/js/jquery.inview.min.js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $(document).foundation();
</script>

{% block scripts %}
{% endblock %}

</body>
</html>
